<!DOCTYPE html>
    <head>
       <h1>Login</h1>
        
    </head> 
        <body>
        <form action="{% url 'administrativo' %}" method="post">
            {% csrf_token %}
                <input type="text" placeholder="Nome" name="username">
                <br>
                <input type="password" placeholder="senha" name="senha">
                <br>
                <input type="submit"value='Logar'>
            
        </form> 
        <form action="{% url 'logout_view' %}" method="post" {% csrf_token %} input type="submit"value='Logout'>
        </form>        
        </body>
</html>
