mvpbackend/mvpbackend/__pycache__/settings.cpython-313.pyc
mvpbackend/mvpbackend/__pycache__/settings.cpython-313.pyc
mvpbackend/mvpbackend/__pycache__/urls.cpython-313.pyc
mvpbackend/myapp/__pycache__/admin.cpython-313.pyc
mvpbackend/myapp/__pycache__/models.cpython-313.pyc
mvpbackend/myapp/__pycache__/urls.cpython-313.pyc
mvpbackend/myapp/__pycache__/views.cpython-313.pyc
