name: Django CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.9]

    defaults:
      run:
        working-directory: ./mvpbackend
    services:
      mongo:
        image: mongo:5
        ports:
          - 27017:27017
          
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install Dependencies
      run: |
        python -m venv venv
        source venv/bin/activate
        pip install --upgrade pip
        pip install -r requirements.txt 
        pip install pymongo==3.12.3 sqlparse==0.2.4 Django>=3.2,<4.0

    - name: Wait for MongoDB to be ready
      run: |
        for i in {1..15}; do
          nc -z localhost 27017 && echo "MongoDB is up!" && break
          echo "Waiting for MongoDB..."
          sleep 3
        done    

    - name: Run migrations
      run: |
        source venv/bin/activate
        python manage.py migrate myapp 0002 --fake
        python manage.py migrate

    - name: Run tests
      run: |
        source venv/bin/activate
        python manage.py test
